@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(214, 210, 210);
    background: rgb(37, 37, 228);
    height: auto;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    color: rgb(248, 244, 14);
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
h3 {
    margin: 30px;
    text-decoration: underline;
}
#main {
    max-width: 1200px;
    margin: auto;
}
/* header */
 #header {
    width: 100%;
    text-align: center;
    display: flex;
    flex: 0 1 40vw;
    height: 120px;
    justify-content: center;
    align-items: center;
 }  
 /* hero image with navbar and link to our store */
 #hero-img {
    background-image: url(../image/husqvarna-dealer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
 }
 .navbar {
    width: 100%;
    text-align: center;
    height: 60px;
    background-color:  rgb(98, 99, 99);
 }
 .navbar a {
    display: inline-block;
    color: rgb(214, 210, 210);
    margin-left: 10px;
    text-decoration: none;
    line-height: 60px;
 }
 a:hover {
    color: rgb(248, 244, 14);
 }
 /* about section */
 .about-us {
    width: 100%;
    height: 320px;
    text-align: center;
    margin-top: 20px;
 }
 .about-us p {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
 }
 /* gallery section */
 .gallery {
    width: 100%;
    height: 120px;
    display: block;
    text-align: center;
    margin: 20px 0;
    padding-top: 50px;
    background:  rgba(12, 12, 175, 0.4);
 }
 .gallery a {
    color: rgb(214, 210, 210);
    font-weight: bold;
 }
 /* gallery page */
#photos {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 2px;
}
#photos > img {
    width: 100%;
    margin: 2px 0;
}
 /* contact us section */
.contact {
    width: 100%;
    height: 120px;
    display: block;
    text-align: center;
    margin: 20px 0;
    padding-top: 50px;
    background:  rgba(12, 12, 175, 0.4);
}
.contact a {
    color: rgb(214, 210, 210);
    font-weight: bold;
}
/* our store */
.store {
    display: block;
    padding-top: 40px;
}
.shop {
    display: block;
    width: 100%;
    height: 200px;
    text-align: center;
}
li {
    list-style-type: none;
}
/* visit us section */
.open-hours {
    width: 100%;
    height: 200px;
    padding-top: 30px;
}
.hours {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hours th, td {
    text-align: center;
    letter-spacing: 1px;
}
.hours p {
    text-decoration: underline;
    margin-bottom: 20px;
}
/* address */
.address {
    width: 100%;
    height: 120px;
    padding-top: 30px;
    text-align: center;
}
.address p {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
address {
    text-decoration: underline;
    font-weight: bold;
}
/* iframe */
.map {
    padding-top: 30px;
    width: 100%;
}
iframe {
    width: 100%; 
    height: 200px; 
} 
/* footer */
.footer {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: rgb(98, 99, 99);
}
.footer ul {
    width: 100%;
    display: inline-block;
    text-align: center
}
.footer li {
    display: inline-block;
    padding-top: 20px;
    margin-left: 20px;
}
footer i {
    color: rgb(214, 210, 210);   
}
footer p {
    font-size: 12px;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 5px;
}
/* contact us forms */
.g-e, .newsl {
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2%;
    text-align: left;
    margin: 3%;
} 
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 0 12px 0;
    border: 1px solid black;
    border-radius: 5px;
    resize: vertical;
}
label {
    padding: 12px 0 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: rgb(121, 180, 248);
    padding: 10px;
    border: none;
    border-radius: 5px;
    float: right;
}
.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}
.col-70 {
    float: left;
    width: 100%;
    margin-top: 6px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
@media  screen and (min-width: 420px) {
    h1 {
        font-size: 2.6rem;
    }
    .about-us {
        margin-top: 30px;
    }
    .about-us p {
        width: 80%;
        margin-top: 20px;
        margin-left: 10%;
     }
    .gallery {
        display: inline-block;
        width: 50%;      
    }
    #photos {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 2px;
    }
    .contact {
        float: right;
        width: 50%;
    }
    .store {
        padding-top: 0;
        margin: 30px 0;
    }
    .visit-us {
        margin: 30px 0;
    }
    .open-hours {
        display: inline;
        float: left;
        width: 50%;
    }
    .address {
         display: inline;
         float: right;
         width: 50%;
    }
    .address h3 {
        margin: 0;
    }
    .shop {
        width: 50%;
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .bike-left {
        width: 50%;
        height: 200px;
        display: block;
        float: left;
        background-image: url(../image/bike-shop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .clothes-right {
        width: 50%;
        height: 200px;
        display: block;
        float: right;
        background-image: url(../image/clothing.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
    #header {
        height: 150px;
    }
    .col-30   {
        width: 30%;
        margin-top: 0;
    }
    .col-70 {
        width: 70%;
        margin-top: 0;
    }
    #photos {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 2px;
    }
}
@media screen and (min-width: 900px) {
    body {
        font-size: 20px;
    }
    .about-us p {
        width: 60%;
        margin-top: 40px;
        margin-left: 20%;
     }
     .gallery {
        display: inline-block;
        width: 50%;      
    }
    .contact {
        float: right;
        width: 50%;
    }
    /* contact form style */
    .col-30   {
        width: 30%;
        margin-top: 0;
    }
    .col-70 {
        width: 70%;
        margin-top: 0;
    }
    .open-hours {
        display: inline;
        float: left;
        width: 50%;
    }
    .address {
         display: inline;
         float: right;
         width: 50%;
         height: 200px;
    }
    .shop {
        width: 33%;
        display: inline-block;
        margin-left: 1%;
        margin-bottom: 5px;
    }
    .bike-left {
        width: 33%;
        height: 200px;
        display: block;
        float: left;
        background-image: url(../image/norden-dual_spotr.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bike-right {
        width: 33%;
        height: 200px;
        display: block;
        float: right;
        background-image: url(../image/offroad_range.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .clothes-left {
        width: 33%;
        height: 200px;
        display: block;
        float: left;
        background-image: url(../image/clothing.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 5px;
    }
    .clothes-right {
        width: 33%;
        height: 200px;
        display: block;
        float: right;
        background-image: url(../image/husqwarna-helmet.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 5px;
    }
}